<app-preloader></app-preloader>
<app-custom-cursor></app-custom-cursor>
<!-- App Start -->
<div class="relative pt-10 minfo__app max-xl:pt-20">
    <div
        class="menu-overlay fixed top-0 left-0 w-full h-full bg-black/60 transition-all duration-200 z-999 opacity-0 invisible [&.is-menu-open]:visible [&.is-menu-open]:opacity-100">
    </div>
    <div class="max-lg:px-4">

        <app-bar-start-movile></app-bar-start-movile>

        <app-silebar-profile-start></app-silebar-profile-start>

        <app-nav-pagination></app-nav-pagination>

        <!-- Main Content Start -->
        <div
            class="minfo__contentBox relative mx-auto max-w-container xl:max-2xl:max-w-65rem *:py-5 xl:*:py-3.5 *:max-w-content max-xl:*:mx-auto xl:*:ml-auto xl:max-2xl:*:max-w-50rem">

            <div data-scroll-index="0" id="home">
                <div class="hero-section px-5 py-8 md:p-8 bg-white dark:bg-nightBlack rounded-2xl lg:p-10 2xl:p-13">
                    <app-hero-introduction></app-hero-introduction>
                </div>
            </div>


            <!-- About Me Section Start -->
            <div data-scroll-index="1" id="about">
                <div class="about-section px-5 py-8 md:p-8 bg-white dark:bg-nightBlack rounded-2xl lg:p-10 2xl:p-13">
                    <app-about></app-about>
                </div>
            </div>
            <!-- About Me Section End -->

            <!-- My Services Section Start -->
            <div data-scroll-index="2" id="service">
                <div class="service-section px-5 py-8 md:p-8 bg-white dark:bg-nightBlack rounded-2xl lg:p-10 2xl:p-13">
                    <app-me-services></app-me-services>
                </div>
            </div>
            <!-- My Services Section End -->


            <!-- Skills Section Start -->
            <div data-scroll-index="3" id="skill">

                <div
                    class="service-section relative px-5 py-8 md:p-8 bg-white dark:bg-nightBlack rounded-2xl lg:p-10 2xl:p-13">
                    <app-skills></app-skills>
                </div>

            </div>
            <!-- Skills Section End -->


            <!-- My Resume Section Start -->
            <div data-scroll-index="4" id="resume">

                <div class="resume-section px-5 py-8 md:p-8 bg-white dark:bg-nightBlack rounded-2xl lg:p-10 2xl:p-13">
                    <app-my-resume></app-my-resume>
                </div>

            </div>
            <!-- My Resume Section End -->


            <!-- Portfolio Section Start -->
            <div data-scroll-index="5" id="portfolio">
                <div
                    class="portfolio-section px-5 py-8 md:p-8 bg-white dark:bg-nightBlack rounded-2xl lg:p-10 2xl:p-13">
                    <app-portafolio></app-portafolio>
                </div>
            </div>
            <!-- Portfolio Section End -->


            <!-- Blog Section Start -->
            <div data-scroll-index="6" id="blog">
                <div class="blog-section px-5 py-8 md:p-8 bg-white dark:bg-nightBlack rounded-2xl lg:p-10 2xl:p-13">
                    <app-blog></app-blog>
                </div>
            </div>
            <!-- Blog Section End -->


            <!-- Testimonial Section Start -->
            <div data-scroll-index="7" id="testimonial">

                <div
                    class="testimonial-section px-5 py-8 md:p-8 bg-white dark:bg-nightBlack rounded-2xl lg:p-10 2xl:p-13">
                    <app-testiminial></app-testiminial>
                </div>

            </div>
            <!-- Testimonial Section End -->


            <!-- Contact Section Start -->
            <div data-scroll-index="8" id="contact">

                <div class="contact-section px-5 py-8 md:p-8 bg-white dark:bg-nightBlack rounded-2xl lg:p-10 2xl:p-13">
                    <app-contact></app-contact>
                </div>

            </div>
            <!-- Contact Section End -->

        </div>
        <!-- Main Content End -->

        <!-- Footer Start -->
        <footer class="mx-auto minfo__contentBox max-w-container xl:max-2xl:max-w-65rem">
            <div
                class="footer-container text-center py-6 max-w-content xl:max-2xl:max-w-50rem max-xl:mx-auto xl:ml-auto">
                <p>
                    Copyright by
                    <a href="#" class="transition-colors">domain.com</a>
                </p>
            </div>
        </footer>
        <!-- Footer End -->

    </div>
</div>
<!-- App End -->